* {
    box-sizing: border-box;
}
body {
    background: #F1F1F1;
    font-family: Calibri;
}
.Container {
    max-width: 100%;
    margin: auto;
    width: 70%;
}
.shapka {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link {
    color: black;
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item {
    margin-right: 20px;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
}
.menu-item:last-child {
    margin-right: 0;
  }
.menu ul {
    padding-left: 0; 
    display: flex;
}
.m-menu {
    display: none;
}
.button {
    background: #FF9F19;
    border: #FF9F19;
    border-radius: 10px;
    width: 170px;
    height: 41px;
    color: #fff;
}
.ten {
    width: 100vw; 
    padding: 0 10px;
    margin-left: calc(-50vw + 50%); 
    margin-bottom: 0;
    margin-top: 0;
}
.My-Giro {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
}
h1 {
    position: relative;
    margin-top: 0;
    left: 0;
    padding-top: 20%;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-align: center;
    color: #fff;
}
.text {
    position: relative;
    margin-top: 0;
    left: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 26px;
    text-align: center;
    color: #fff;
}

.text-catalog {
    position: relative;
    margin-top: 0;
    left: 0;
    padding-top: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.image {
    position: absolute; 
    top: 13%; 
    left: 0; 
    width: 100%; 
    height: auto;
    object-fit: cover; 
    filter: brightness(0.4);
    z-index: -1;
    margin-bottom: 30px;
  }
.button-catalog {
    width: 124px;
    height: 40px;
    border-radius: 10px;
    border:#fff;
}
.text-catalog.button-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
    margin-bottom: 20px;
}

h2 {
    margin-top: 30px; 
    color: #9B9B9B;
    margin-bottom: 30px;
}
.preim {
    width: 100px; 
    height: 100px;
    margin-right: 20px; 
}
.preim-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.preim-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.preim-item img {
    margin-bottom: 10px;
}

.header svg {
    margin-left: 600px;
    max-width: 70%;            
    height: auto;     
}
.header svg:last-child {
    margin-left: 10px;
}
.plus-minus-list {
    list-style-type: none;
    padding-left: 0;
}
.plus-minus-list li {
    position: relative;
    padding-left: 20px;
}
.plus-minus-list li:before {
    content: "+";
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
}
.plus-minus-list li.minus:before {
    content: "-"; 
}
.osob {
    display: flex;
    justify-content: space-between;
}
.block-podpis-parent {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
}

.block-podpis {
    width: 100%;
    height: 100px;
    display: block;
}


.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%; 
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
}
